{% extends "layout.html" %}

{% block body %}
<!-- Wrapper -->
<div id="wrapper">
	<!-- Header -->
		<header id="header">
			<div class="top">
				<div class="logo">
					<span class="letter">T</span>
				</div>
				<div class="title">Tech Fair Rater</div>
			</div>
		</header>

	<!-- Main -->
		<div id="main">
			<div class="inner">
				<header class="intro">
					<h1>Navigating Tech Career Fairs, One Review at a Time</h1>
					<p>Your ultimate guide to navigating the world of technology career fairs! Whether you're a computer science major or an aspiring tech enthusiast, we are your go-to resource for insightful reviews and firsthand experiences from attendees. Discover the best tech fairs and embark on your career journey with confidence. Your next great opportunity awaits – let's explore it together!</p>
				</header>
				
				<section class="tiles">
					{% for title, image in zipped %}
					<article class="tile">
						<span class="image">	
							<a href="{{ url_for('reviews', title=title) }}"><img src="{{ image }}"></a>
							
						</span>
						<a href="{{ url_for('reviews', title=title, image=image) }}">
							<h2>{{ title }}</h2>
						</a>
					</article>
					{% endfor %}	
				</section>
			</div>
		</div>

	<!-- Footer -->
		<footer id="footer">
			<div class="inner">
				<section>
					<h2>Rate more tech fairs? Get in touch</h2>
					<form method="post" action="#">
						<div class="fields">
							<div class="field half">
								<input type="text" name="name" id="name" placeholder="Name" />
							</div>
							<div class="field half">
								<input type="email" name="email" id="email" placeholder="Email" />
							</div>
							<div class="field">
								<textarea name="message" id="message" placeholder="Message"></textarea>
							</div>
						</div>
						<div class="actions">
							<div><input type="submit" value="Send" class="primary" /></div>
						</div>
					</form>
				</section>
				
				<div class="copyright">
					<p>&copy; 2023. All rights reserved</p>
				</div>
			</div>
		</footer>
</div>

{% endblock %}
