{% extends "layout.html" %}

{% block body %}

    <div class="reviews-container">
        {% if data %}
            {% for item in data %}
                <div class="review">
                    {% for key in item.keys() %}
                        {% if key == "title" %}
                            <h3 class="review-title"> {{item[key]}} </h3>
                        {% endif %}
                        {% if key == "review_body" %}
                            <p class="review-body"> {{item[key]}} </p>
                        {% endif %}
                        <div>
                        {% if key == "review" %}
                            <span class="rating"> {{item[key]}} </span>
                        {% endif %}
                        {% if key == "date" %}
                            <p class="review-date"> {{item[key]}} </p>
                        {% endif %}
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        {% endif %}
    </div>

{% endblock %}